<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" 
        href='@Url.Content("~/Content/bootstrap-3.2.0/css/bootstrap.css")'>

    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/Content/css/ext-theme-crisp-touch")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/extjs")
    @Scripts.Render("~/bundles/extjs/ext-theme-crisp-touch")

    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
